body{
    font-family: BebasNeue;
    text-align: center;
    color: #2980b9;
    background-color: #2c3e50;
    background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=2c3e50ff&noise=233140&density=75&opacity=20);
    background-repeat: repeat;
    overflow-x: hidden;
}

footer *{
    margin-top: 0;
    margin-bottom: 0;
}

header{
    margin-bottom: 150px;
}
header h1{
    font-size: 18vw;
}
@media (min-width: 800px){
    header h1{
        font-size: 160px;
    }
}

h2{
    color: #F9690E;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 26px;
}

.cool {
    color: #F9690E;
}
#heading{
    margin-bottom: 0;
}
#subheading{
    font-size: 3vw;
    color: inherit;
    margin-top: 0;
    font-style: italic;
    font-weight: 300;
}
@media (min-width: 800px){
    #subheading{
        font-size: 30px;
    }
}
@media (max-width: 500px){
    #subheading{
        font-size: 15px;
    }
}

#beta {
    font-size: 0.5em;
    color: #F9690E;
}

a{
    color: #2980b9;
    text-decoration: none;
    font-style: italic;
}
a:hover{
    color: #409ad5;
}

a.noitalic{
    font-style: normal;
}
a.nohovereffect{
    color:inherit;
}

#srHeading{
    font-size: 32px;
    font-weight: bold;

    margin: 32px auto 16px auto;
}

#textresult{
    position: relative;
    max-width: 700px;
    margin: auto;
}

/*START - Vote*/
#vote_switch{
    margin: auto;
    width: 100px;

    background-color: #F9690E;
    border-radius: 5px;
}
#vote_switch:hover{
    cursor: pointer;
}
#vote_switch p{
    margin-top: 0;

    color: #2c3e50;
}
#vote_popup_container{
    position: relative;

    width: 250px;
    height: 1px;

    margin: auto;
}
#vote_popup{
    visibility: hidden;
    opacity: 0;

    position: absolute;
    width: 250px;
    height: 130px;
    margin: auto;
    margin-bottom: 30px;
    background-color: #2c3e50;
    background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=2c3e50ff&noise=233140&density=75&opacity=20);

    border-radius: 10px;
    border-style: solid;
    border-color: #233140;

    z-index: 5;
    transition:opacity 0.1s linear;
}
#vote_popup_overlay{
    visibility: hidden;
    opacity: 0;

    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: rgba(20, 29, 37, 0.8);

    z-index: 4;
    transition:opacity 0.1s linear;
}
#vote_popup_hide{
    width: 60px;
    margin: auto;

    margin-top: 100px;
    font-size: 18px;
    font-style: italic;
}
#vote_popup_hide:hover{
    cursor: pointer;
    text-decoration: underline;
}
.vote_button_container{
    position: absolute;

    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin: auto;
    top:40%;

    transform: translateY(-50%);
}
.vote_button_container:hover{
    cursor: pointer;
    text-decoration: underline;
}
.vote_button_container p{
    font-size: 16px;
    margin-top: 8px;
    font-style: italic;
}
.vote_button{
    position: absolute;

    width: 60%;
    height: 60%;
    background-color: #233140;/*F9690E*/
    border-radius: 30px;
    margin: auto;
    top:60%;
    left:50%;

    transform: translate(-50%, -50%);
}
.vote_button p{
    font-style: normal;
    font-weight: normal;
    margin: auto;
    color: #F9690E;/*233140*/
    font-size: 70px;
    transform: translateY(-12px);
}
#downvote{
    left:20px;
}
#upvote{
    right: 20px;
}

/*END - Vote*/

#searchResult{
    visibility: hidden;
    opacity:0;
    margin-top: 50px;
    transition:opacity 1s linear;

    background-color: #2c3e50;
}

.example_image{
    height: 100px;
}

#resultContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
}

.resultBox{
    width: 700px;
    max-width: 100%;
    /*min-height: 400px;*/
    margin: 40px 20px 80px 20px;

    background-color: #2c3e50;/*#2c3e50*/
    flex-basis: auto;
}
.resultBox_half{
    width: 700px;
    max-width: 100%;
    /*min-height: 200px;*/
    margin: 0;

    background-color: #2c3e50;/*#2c3e50*/
}
@media (max-width: 500px){
    .resultBox{
        margin: 40px 0 40px 0;
    }
}

.resultBox h2{
    margin-top: 0;
}

p{
    font-size: 24px;
}

.highlight{
    color: #F9690E;
}

.source{
    font-size: 1.2em;
}

hr{
    color: #34495E;
    background-color: #34495E;
    border-color: #34495E;
}

.relative{
    position: relative;
}

#srPercentage{
    position: absolute;
    margin: auto;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #F9690E;
    font-weight: bold;
    font-size: 80px;
    pointer-events: none;
}
@media (max-width:725px) {
    #srPercentage{
        font-size: 11vw;
    }
}
#srPercentage p{
    display: inline;

    position: absolute;
    width: 100px;
    height: 100px;
}

.input_big{
    margin: auto;

    width: 100%;
    max-width: 636px;
    height: 60px;

    font-family: bebasneue;
    font-size: 2em;
    color: #2980b9;
    background-color: #34495E;
    font-weight: bold;
    border:none;
    text-align: center;
}
.input_big:focus{
    outline: none;
}
.input_big::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(229,229,229,0.5);
}
.input_big::-moz-placeholder { /* Firefox 19+ */
    color: rgba(229,229,229,0.5);
}
.input_big:-ms-input-placeholder { /* IE 10+ */
    color: rgba(229,229,229,0.5);
}
.input_big:-moz-placeholder { /* Firefox 18- */
    color: rgba(229,229,229,0.5);
}
#textbox_container{
    position: relative;
    margin: auto;

    width: 90%;
    max-width: 636px;
    height: 60px;

    margin-bottom: 40px;
}
#dices{
    position: absolute;
    right: 10px;
    top: 6px;
    width: 50px;
    height: 50px;
    /*background-color: #2b3c4e;*/
    border-radius: 20px;

    cursor: pointer;
}
#dices img{
    position: relative;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.adv_wide{
    margin: 30px;
    width: 728px;
    height: 90px;
    border: 2px solid #F9690E;

    max-width: 100%;
}
.adv_responsive{
    width: 90%;
    max-width: 700px;
    min-height: 80px;
    margin: auto;
}

.fb_iframe_widget span
{
    vertical-align: baseline !important;
}

/*IMAGE OVERLAY*/
#imageOverlay{
    position: fixed;
    top: 0;
    left: 0;

    z-index: 5;

    width: 100%;
    height: 100%;

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s linear;
}
#imageOverlayBackgroundOverlay{
    width: 100%;
    height: 100%;

    background-color: rgba(20, 29, 37, 0.8);
}
#imageOverlayImage{
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 100%;
    max-width: 800px;
}
