body{
    font-family: BebasNeue;
    text-align: center;
    color: #2980b9;
    background-color: #2c3e50;
}

header h1{
    font-size: 20vw;
}
@media (min-width: 800px){
    header h1{
        font-size: 160px;
    }
}

h2{
    color: #F9690E;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 26px;
}

.cool {
    color: #F9690E;
}

#beta {
    font-size: 0.5em;
    color: #F9690E;
}

a{
    color: #2980b9;
    text-decoration: none;
    font-style: italic;
}
a:hover{
    color: #409ad5;
}

a.noitalic{
    font-style: normal;
}

#searchResult{
    visibility: hidden;
    opacity:0;
    margin-top: 100px;
    transition:opacity 1s linear;
}

.example_image{
    height: 100px;
}

#resultContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
}

.resultBox{
    width: 700px;
    height: 400px;
    margin: 40px 20px 40px 20px;
    max-width: 100%;

    background-color: #2c3e50;/*#2c3e50*/
    flex-basis: auto;
}
.resultBox_half{
    width: 700px;
    height: 200px;
    margin: 0;

    background-color: #2c3e50;/*#2c3e50*/
}

.resultBox h2{
    margin-top: 0;
}

p{
    font-size: 24px;
}

.highlight{
    color: #F9690E;
}

.source{
    font-size: 1.2em;
}

hr{
    color: #34495E;
    background-color: #34495E;
    border-color: #34495E;
}

#srHeading{
    font-size: 32px;
    font-weight: bold;
}
#srHeading div{
    display: inline;
}

#srPercentage{
    color: #F9690E;
    position: relative;
    bottom:242px;
    margin: 0;
    font-weight: bold;
    font-size: 80px;
    pointer-events: none;
}

.input_big{
    font-family: bebasneue;
    width: 300px;
    height: 30px;
    font-size: 2em;
    color: #2980b9;
    background-color: #34495E;
    font-weight: bold;
    border:none;
    padding: 5px;
}
.input_big:focus{
    outline: none;
}

.adv_wide{
    margin: 30px;
    width: 728px;
    height: 90px;
    border: 2px solid #F9690E;

    max-width: 100%;
}
