/*  GRID OF SEVEN   ============================================================================= */


.span_7_of_7_nomargin {
	width: 100%;
}

.span_6_of_7_nomargin {
	width: 85.69%;
}

.span_5_of_7_nomargin {
  	width: 71.42%;
}

.span_4_of_7_nomargin {
  	width: 57.12%;
}

.span_3_of_7_nomargin {
  	width: 42.85%;
}

.span_2_of_7_nomargin {
  	width: 28.55%;
}

.span_1_of_7_nomargin {
  	width: 14.28%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 820px) {
	.span_7_of_7_nomargin {
		width: 100%; 
	}
	.span_6_of_7_nomargin {
		width: 100%; 
	}
	.span_5_of_7_nomargin {
		width: 100%; 
	}
	.span_4_of_7_nomargin {
		width: 100%; 
	}
	.span_3_of_7_nomargin {
		width: 100%; 
	}
	.span_2_of_7_nomargin {
		width: 100%; 
	}
	.span_1_of_7_nomargin {
		width: 100%; 
	}
}