<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{page.title}}</title>

        <meta charset="utf-8">
        <meta name="description" content="{{page.content_description}}">
        <meta name="robots" content="{{page.robot_tags}}">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <meta name="google" content="notranslate" />

        <meta property="og:title" content="isitcool.net | The 100% serious coolness ranking machine for the 21st century" >
        <meta property="og:site_name" content="isitcool.net">
        <meta property="og:url" content="http://isitcool.net" >
        <meta property="og:description" content="Find out how cool something or someone is. Isitcool.net is a revolutionary search engine for coolness. Try the algorithm now and share results with your friends!" >
        <meta property="og:image" content="http://isitcool.net/assets/preview_image.png" >
        <meta property="og:type" content="website" >
        <meta property="og:locale" content="en_US" >

        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="http://isitcool.net">
        <meta name="twitter:title" content="isitcool.net | The 100% serious coolness ranking machine for the 21st century">
        <meta name="twitter:description" content="Find out how cool something or someone is. Isitcool.net is a revolutionary search engine for coolness. Try the algorithm now and share results with your friends!">
        <meta name="twitter:image" content="http://isitcool.net/icon.svg">

        <link rel="shortcut icon" href="icon.ico" />

        <!-- Stylesheets -->
        <link rel="stylesheet" href="fonts/BebasNeue.css" />
        <link rel="stylesheet" href="css/style.css" />


        <link rel="stylesheet" href="css/grid/col.css" media="all">
        <link rel="stylesheet" href="css/grid/2cols.css" media="all">
        <link rel="stylesheet" href="css/grid/3cols.css" media="all">
        <link rel="stylesheet" href="css/grid/4cols.css" media="all">
        <link rel="stylesheet" href="css/grid/5cols.css" media="all">
        <link rel="stylesheet" href="css/grid/6cols.css" media="all">
        <link rel="stylesheet" href="css/grid/7cols.css" media="all">
        <link rel="stylesheet" href="css/grid/7cols_nomargin.css" media="all">
        <link rel="stylesheet" href="css/grid/8cols.css" media="all">
        <link rel="stylesheet" href="css/grid/9cols.css" media="all">
        <link rel="stylesheet" href="css/grid/9cols_blog.css" media="all">
        <link rel="stylesheet" href="css/grid/10cols.css" media="all">
        <link rel="stylesheet" href="css/grid/11cols.css" media="all">
        <link rel="stylesheet" href="css/grid/12cols.css" media="all">
        <link rel="stylesheet" href="css/grid/5cols_nomargin.css" media="all">
        <link rel="stylesheet" href="css/grid/8cols_nomargin.css" media="all">

    </head>

    <body>

        <p id="iewarning" class="highlight" style="display:none">Warning: Internet Explorer is not supported. This site may display incorrectly.</p>

        <header>
            <a class="noitalic nohovereffect" href="./"><h1 id="heading">isit<span class="cool">cool</span>.net<span id="beta">BETA</span></h1></a>
            <h2 id="subheading">The 100% serious coolness ranking machine for the 21st century</h2>
        </header>

        <div id="content">
            {{ page.content }}
        </div>


        <footer>
            <hr />

            <div class="section group" style="margin:auto;">
                <div class="col span_3_of_12"></div>
                <div class="col span_2_of_12">
                    <p><a class="noitalic" href="impressum.html">Impressum</a></p>
                </div>
                <div class="col span_2_of_12">
                    <p><a class="noitalic" href="impressum.html#Datenschutz">Datenschutzerklärung</a></p>
                </div>
                <div class="col span_2_of_12">
                    <p>Made By <a target="_blank" href="http://kay-gonschior.de">kay-gonschior.de</a></p>
                </div>
                <div class="col span_3_of_12"></div>
            </div>
            <div>Copyright (c) 2016 Kay Gonschior All Rights Reserved.</div>
            <div>Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        </footer>

        <!-- GOOGLE ANALYTICS -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-62293536-2', 'auto');
            ga('send', 'pageview');
        </script>

        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "ed6f9071-b16d-4f05-9287-4e0ae5d8931b", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>
        <script type="text/javascript">
            stLight.options({
                    publisherGA:"UA-62293536-2"
            });
        </script>

        <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="js/smoothscroll.js"></script>
        <script type="text/javascript" src="js/Chart.js"></script>
        <script type="text/javascript" src="js/wordIndex.js"></script>
        <script type="text/javascript" src="js/pagescript.js"></script>

    </body>
</html>
