<!DOCTYPE html>
<html>
    <head>
        <title>{{page.title}}</title>

        <meta charset="utf-8">
        <meta http-equiv="language" content="en">
        <meta name="description" content="{{page.content_description}}">
        <meta name="robots" content="{{page.robot_tags}}">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <link rel="shortcut icon" href="icon.ico" />

        <!-- Stylesheets -->
        <link rel="stylesheet" href="fonts/BebasNeue.css" />
        <link rel="stylesheet" href="css/style.css" />


        <link rel="stylesheet" href="css/grid/col.css" media="all">
        <link rel="stylesheet" href="css/grid/2cols.css" media="all">
        <link rel="stylesheet" href="css/grid/3cols.css" media="all">
        <link rel="stylesheet" href="css/grid/4cols.css" media="all">
        <link rel="stylesheet" href="css/grid/5cols.css" media="all">
        <link rel="stylesheet" href="css/grid/6cols.css" media="all">
        <link rel="stylesheet" href="css/grid/7cols.css" media="all">
        <link rel="stylesheet" href="css/grid/7cols_nomargin.css" media="all">
        <link rel="stylesheet" href="css/grid/8cols.css" media="all">
        <link rel="stylesheet" href="css/grid/9cols.css" media="all">
        <link rel="stylesheet" href="css/grid/9cols_blog.css" media="all">
        <link rel="stylesheet" href="css/grid/10cols.css" media="all">
        <link rel="stylesheet" href="css/grid/11cols.css" media="all">
        <link rel="stylesheet" href="css/grid/12cols.css" media="all">
        <link rel="stylesheet" href="css/grid/5cols_nomargin.css" media="all">
        <link rel="stylesheet" href="css/grid/8cols_nomargin.css" media="all">

    </head>

    <body>

        <header>
            <a class="noitalic nohovereffect" href="./"><h1>isit<span class="cool">cool</span>.net<span id="beta">BETA</span></h1></a>
        </header>

        {{ page.content }}

        <hr />
        <p><a class="noitalic" href="impressum.html">Impressum</a> --- <a class="noitalic" href="impressum.html#Datenschutz">Datenschutzerlärung</a> --- Made By <a target="_blank" href="http://kay-gonschior.de">kay-gonschior.de</a></p>

        <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="js/smoothscroll.js"></script>
        <script type="text/javascript" src="js/Chart.js"></script>
        <script type="text/javascript" src="js/wordIndex.js"></script>
        <script type="text/javascript" src="js/pagescript.js"></script>

    </body>
</html>
